{% render 'partials/head.liquid', title: 'Squad Page' %}

<section>
    <h2>Studenten kleur gesorteerd</h2>
    <a href="/">Back</a>
</section>
 
{% for person in persons %}
    <a href="/student/{{ person.id }}">, <img src=" {{ person.avatar }}" width="200px" height="200px"></a>
{% endfor %}
 
{% render 'partials/foot.liquid', squads: squads %}
 