{% render 'partials/head.liquid', title: 'Squad page' %}

<section>
  <h2>Students</h2>
  <a href="/kleur">favoriete kleur</a>
</section>

  {% for person in persons %}
   <a href="/kleur">, <img src=" {{ person.avatar }}" width="200px" height="200px"></a>
  {% endfor %}
 
  <section class="slidecontainer">
    <section class="sliderinfo">
        <input type="range" min="1970" max="2010" value="1970" class="slider" class="slider"
        oninput="SliderYear()">

        {% comment %} div Yearslider is bedoelt om het jaartal te laten zien zodra je slide, in CSS en JS. {% endcomment %}

        <div class="yearslider"></div>
    </section>
  </section>

  <script src="slider.js"></script>


{% render 'partials/foot.liquid', squads: squads %}
