{% render 'partials/head.liquid', title: 'Squad page' %}

<section>
  <h2>Students</h2>
  <select name="filter">
    <option value="filteren">Filteren</option>
    <option value="kleur"></a>favoriete kleur</option>
  </select>
  <a href="https://squadpage-sprint-7.onrender.com/kleur">favoriete kleur </a>
</section>

  {% for person in persons %}
   <a href="https://squadpage-sprint-7.onrender.com/kleur">, <img src=" {{ person.avatar }}" width="200px" height="200px"></a>
  {% endfor %}


{% render 'partials/foot.liquid', squads: squads %}