


img {
    border: 1px solid black;
    border-radius: 100%;
}


body {

    section  { 
        display: flex;
        align-items: center;
        flex-direction: column; 
  
        img {
            width: 30%;
            height: 30%;
            border-radius: 100%;
        }

        a {
            padding: 10px;
            margin-top: 20px;
            color: white;
            background-color: blue;
            text-decoration: none;
        }
    }   
}

.slidecontainer input {
    -webkit-appearance:none;
    margin-top: 300px;
    border-radius: 50px;
    padding-inline: 5px;
    width: 300px;
    height: 30px;
    background-color: aqua;
}

.slidecontainer input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance:none;
    height: 20px;
    width: 20px;
    background-color: #050542 ;
    border-radius: 30px;
}

